@page
@model CSharpCodePortfolio.Tutorials.Tutorial23.Pages.PrivacyModel
@{
    ViewData["Title"] = "Privacidade";
}

<section data-page="privacy">
    <h1>@Model.Title</h1>
    <p>@Model.Message</p>
</section>
