<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Tutorial Razor Pages</title>
</head>
<body data-layout="portfolio">
    <header>
        <nav>
            <a href="/">Início</a>
            <a href="/Privacy">Privacidade</a>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
</body>
</html>
