@page "/Login"
@using OpenIDApp.Models
@model LoginModel

@{
  Layout = "_Layout";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<main class="form-signin">
  <form method="post" asp-page-handler="Post">
    <!-- <img class="mb-4" src="" alt="" width="72" height="57"> -->
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" asp-for="UserRegisterData.Login" name="login" placeholder="name@example.com">
      <span asp-validation-for="UserRegisterData.Login" class="text-danger"></span>
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" asp-for="UserRegisterData.Password" name="password" placeholder="Password">
      <span asp-validation-for="UserRegisterData.Password" class="text-danger"></span>
      <label for="floatingPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
  </form>
</main>
